/* navigation lateral */

/* menu ferme en mobile */
.yt-nav {
    width: 220px;
    padding: 0.5rem 0.75rem;
    border-right: 1px solid #e5e5e5;
    background: #ffffff;
    display: none;
}

/* affichage sur écran large */
@media (min-width: 640px) {
    .yt-nav {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}

/* section*/
.yt-nav__section {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

/* titre de section */
.yt-nav__title {
    font-size: 0.9rem;
    font-weight: 600;
    color: #0f0f0f;
    padding: 0 0.75rem;
    margin-bottom: 0.25rem;
}

/* lien de navigation */
.yt-nav__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;

    font-size: 0.875rem;
    text-decoration: none;
    color: #0f0f0f;

    transition: background 0.2s;
}

/* icône SVG  */
.yt-nav__icon {
    width: 22px;
    height: 22px;
    display: block;
}


/* survol */
.yt-nav__item:hover {
    background: #f2f2f2;
}

/* elément actif */
.yt-nav__item--active {
    background: #e9e9e9;
    font-weight: 600;
}