/* conteneur général*/
.video-card {
    width: 100%;
    max-width: 360px;
}

.video-card__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* miniature*/
.video-card__thumb-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    border-radius: 1rem;
    overflow: hidden;

    background: linear-gradient(to bottom right, #3f3f46, #18181b);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);

    transition: transform 0.15s ease;
}

.video-card__thumb-wrapper:hover {
    transform: scale(1.02);
}

/* image de la miniature */
.video-card__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* placeholder si pas de thumbnail */
.video-card__thumb-placeholder {
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    color: #a1a1aa;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* durée en bas à droite */
.video-card__duration {
    position: absolute;
    right: 0.6rem;
    bottom: 0.6rem;

    padding: 0.2rem 0.45rem;
    border-radius: 0.3rem;

    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
}

/*info sous miniature */
.video-card__info {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.55rem;
}

/* avatar rond gris */
.video-card__avatar {
    width: 36px;
    height: 36px;
    border-radius: 999px;
    background: #d4d4d8;
}

/* textes */
.video-card__texts {
    flex: 1;
    min-width: 0;
}

.video-card__title {
    font-size: 0.95rem;
    font-weight: 600;
    color: #111827;
    line-height: 1.25rem;
    margin-bottom: 0.15rem;

    display: -webkit-box;
    /*-webkit-line-clamp: 2;*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-card__channel {
    font-size: 0.8rem;
    color: #6b7280;
}

.video-card__meta {
    margin-top: 0.1rem;
    font-size: 0.78rem;
    color: #9ca3af;
}