/* activation de Tailwind v4 */
@import "tailwindcss";

/* mode clair  */
:root {
  color-scheme: light;
}

/* hauteur pleine pour que le layout fonctionne bien */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* fond global */
body {
  background-color: #ffffff;
  color: #0f0f0f;
  font-family: "Roboto", Arial, sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(63 63 70);
  border-radius: 9999px;
}