/*grille vidéo youtube*/

/*conteneur extérieur */
.video-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 16px 32px;
}

/* grille interne responsive breakpoints youtube*/
.video-grid__inner {
    width: 100%;
    max-width: 1400px;

    display: grid;
    gap: 24px;

    /* 1 colonne sur petits écrans */
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

/* 2 colonnes des 640px */
@media (min-width: 640px) {
    .video-grid__inner {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* 3 colonnes des 1024px */
@media (min-width: 1024px) {
    .video-grid__inner {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* 4 colonnes des 1280px */
@media (min-width: 1280px) {
    .video-grid__inner {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}